.bgLogo {
    background-image: url('https://www.themoviedb.org/assets/static_cache/bb45549239e25f1770d5f76727bcd7c0/images/v4/logos/408x161-powered-by-rectangle-blue.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 98% 9%;
}
